@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #FAFAFA;
  color: #5C5C5C;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}